PORT=3000
DATABASE_URL=libsql://[DB_NAME]-[ORG_NAME].turso.io
DATABASE_AUTH_TOKEN=[YOUR_TURSO_TOKEN]
NODE_ENV=development
SESSION_SECRET=supersecretkey
JWT_SECRET=jwtsecretkey
TENANT_ID=default_enterprise_01